<% content_for :js do %>
  <%= javascript_include_tag "controllers/users_controller" %>
<% end %>
<h1>User Top</h1>

<h2>User list</h2>

<% @users.each do |user| %>
  <div>
    <span><%= Profile.human_attribute_name :name %>: </span>
    <span><%= user.name %></span>
  </div>
  <div>
    <button onclick=""></button>
  </div>
  <hr>
<% end %>
<%= paginate @users %>
