<%= render :partial => "shared/error", :locals => { error: @error } %>
<div><%= t(".message_1") %></div>
<div><%= t(".message_2") %></div>

<hr>
<%= render :partial => "shared/confirmation/send_email_link_or_form" %>
